@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Almarai", sans-serif;
}

img {
  width: 100%;
}

.article-category {
  padding: 5px 10px;
  background-color: #B80000;
  color: #fff;
  margin-left: 10px;
}
.article-title {
  font-size: 20px;
  display: inline;
  color: #000;
}
.article-link {
  text-decoration: none;
  color: #000;
}
.article-link:hover .article-title {
  text-decoration: underline;
}

header .navbar {
  padding: 10px;
  border-bottom: 1px solid #B1AEAE;
  background-color: #fff;
}
header .navbar-brand {
  color: #B80000;
  font-size: 34px;
}
header .navbar .nav-link {
  font-size: 22px;
  color: #000;
  margin-right: 20px;
  transition: all 0.5s;
}
header .navbar .nav-link:hover {
  color: #B80000;
  text-decoration: underline;
}
header .navbar .login {
  position: relative;
}
header .navbar .login i {
  font-size: 30px;
  margin-left: 15px;
  color: #B1AEAE;
  cursor: pointer;
}
header .navbar .login-container {
  position: absolute;
  width: 250px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #B1AEAE;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  top: 50px;
  right: -115px;
  visibility: hidden;
  transition: all 0.5s;
}
header .navbar .login-container::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg) translateX(50%);
  top: -18px;
  right: 50%;
  border-top: 1px solid #B1AEAE;
  border-left: 1px solid #B1AEAE;
}
header .navbar .login-container .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 2px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
}
header .navbar .login-container .button:hover {
  background-color: #fff;
  color: #B80000;
}
header .navbar .login:hover .login-container {
  visibility: visible;
}
header .navbar .login:hover .login-container .button {
  visibility: visible;
}
header .navbar form .serach-icon {
  padding: 2px;
}
header .navbar form .serach-icon i {
  font-size: 30px;
  color: #B80000;
}
header .header-news {
  margin-top: 50px;
}
header .header-news .carousel-news {
  margin-top: 50px;
  position: relative;
}
header .header-news .carousel-news::after {
  position: absolute;
  content: "";
  left: -10px;
  top: 150px;
  height: 200px;
  width: 20px;
  background-color: #B80000;
}
header .header-news .carousel-text {
  padding: 20px 10px 70px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 750px;
}
header .header-news .carousel-text h3 {
  font-size: 22px;
  position: relative;
}
header .header-news .carousel-text h3::after {
  content: "";
  position: absolute;
  height: 85px;
  width: 5px;
  background-color: #B80000;
  top: -10px;
  left: 250px;
}
header .header-news .carousel-indicators {
  left: -550px;
}
header .header-news .carousel-indicators button {
  height: 20px;
  width: 20px;
  text-indent: 0;
}
header .header-news .carousel-item img {
  max-height: 490px;
}
header .header-news .carousel-item:hover .carousel-text {
  text-decoration: underline;
}
header .header-articles {
  margin-top: 50px;
}
header .header-articles .row {
  margin-top: 40px;
}

section.news {
  padding: 50px;
}
section.news .article-link img {
  max-height: 170px;
}
section.news .article-link .article-text h5 {
  font-size: 18px;
}
section.news .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 2px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 20px;
}
section.news .button:hover {
  background-color: #fff;
  color: #B80000;
}
section.most-read {
  padding: 50px;
  background-color: #F0F0F0;
}
section.most-read .card-news {
  padding: 50px;
  background-color: #fff;
  margin: 30px;
}
section.most-read .card-news a {
  color: #000;
  text-decoration: none;
}
section.most-read .card-news:hover h4 {
  text-decoration: underline;
}
section.most-read .card-text h4 {
  font-size: 30px;
}
section.most-read .card-text p {
  font-size: 14px;
  margin: 35px auto;
}
section.most-read .card-text time {
  color: #B1AEAE;
  font-size: 16px;
}
section.most-read .card-img {
  position: relative;
  margin-bottom: 20px;
}
section.most-read .card-img::after {
  content: "";
  position: absolute;
  background-color: #B80000;
  height: 4%;
  width: 30%;
  bottom: -2%;
  right: 5%;
}
section.opinions {
  padding: 50px;
}
section.opinions a {
  text-decoration: none;
}
section.opinions .opinions-card {
  padding: 20px 10px;
  background-color: rgba(184, 0, 0, 0.3);
  margin-top: 25px;
  transition: all 0.5s;
}
section.opinions .opinions-card h5 {
  font-size: 16px;
  color: #000;
  text-align: center;
  font-weight: bold;
}
section.opinions .opinions-card .user-info {
  margin-top: 25px;
}
section.opinions .opinions-card .user-info img {
  width: 100px;
  clip-path: circle();
}
section.opinions .opinions-card .user-info span {
  font-size: 18px;
  color: #B80000;
  font-weight: bold;
}
section.opinions .opinions-card:hover {
  background-color: rgba(184, 0, 0, 0.6);
}
section.opinions .opinions-card:hover h5 {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
